<div class="pagination">
  {% if paginate.previous %}
    <span class="pagination__arrow pagination__arrow--prev">
      <a href="{{ paginate.previous.url }}" aria-label="{{ paginate.previous.title }} ">{% render 'icon-arrow-left' icon_color: '#fff' %}</a>
    </span>
  {% else %}
    <span class="pagination__arrow pagination__arrow--prev">

    </span>
  {% endif %}
  
  {% for part in paginate.parts -%}
    {% if part.is_link -%}
      <span class="page">
        <a href="{{ part.url }}">{{ part.title }}</a>
      </span>
    {%- else -%}
      <span class="page current">{{ part.title }}</span>
    {% endif %}
  {%- endfor %}
  
  {% if paginate.next %}
    <span class="pagination__arrow pagination__arrow--next">
      <a href="{{ paginate.next.url }}" aria-label="{{ paginate.next.title }} ">{% render 'icon-arrow-right' icon_color: '#fff' %}</a>
    </span>
  {% else %}
    <span class="pagination__arrow pagination__arrow--next">

    </span>
  {% endif %}
</div>
