{%- assign collection = collections[section.settings.collection] -%}

<div class="collection-grid-container" id="section-{{ section.id }}">
  <div class="featured-collection page-width">
    
    {% if section.settings.title != blank or section.settings.subtitle != blank %}
      <div class="section__title-area">
        {% if section.settings.title != blank %}
          <h2 class="collection__title">{{ section.settings.title | escape }}</h2>
        {% endif %}
        
        {% if section.settings.subtitle != blank %}
          <p>{{ section.settings.subtitle | escape }}</p>
        {% endif %}
      </div>
    {% endif %}
    
    {% if collection != empty %}
      <div class="collection-grid collection-grid--desktop-{{ section.settings.items_per_row_desktop }} collection-grid--mobile-{{ section.settings.items_per_row_mobile }}">
        {% for product in collection.products limit: 6 %}
          {% include 'collection-item' %}
        {% endfor %}
      </div>
    {% else %}
      <h4 style="text-align: center; margin: 60px auto;">Select featured collection in customizer.</h4>
    {% endif %}
  </div>
</div>

{% style %}

  #section-{{ section.id }} {
    background-color: {{ section.settings.background_color }};
    {% if section.settings.spacing %}
      margin: 100px auto;
    {% endif %}
  }
  
  #section-{{ section.id }} .collection__grid-item img {
    border-radius: {{ section.settings.image_border_radius }}%;
    
    {% if section.settings.image_border %}
      border: 1px solid {{ settings.color_border }};
    {% endif %}
  }
{% endstyle %}

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "select",
        "id": "items_per_row_desktop",
        "label": "Items per row [Desktop]",
        "options": [
          {
            "label": "2",
            "value": "two" 
          },
          {
            "label": "3",
            "value": "three" 
          },
          {
            "label": "4",
            "value": "four" 
          },
          {
            "label": "5",
            "value": "five" 
          }
        ],
        "default": "three"
      },
      {
        "type": "select",
        "id": "items_per_row_mobile",
        "label": "Items per row [Mobile]",
        "options": [
          {
            "label": "1",
            "value": "one" 
          },
          {
            "label": "2",
            "value": "two" 
          }
        ],
        "default": "two"
      },
      {
        "type": "checkbox",
        "id": "enable_prices",
        "label": "Show product prices",
        "default": true
      },
      {
        "type": "range",
        "id": "image_border_radius",
        "label": "Image rounded corners",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "%",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "image_border",
        "label": "Image border",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "spacing",
        "label": "Section spacing"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }

{% endschema %}
