<footer id='footer' class='footer'>
  <div class='footer__container page-width'>
    <div class='footer__newsletter'>
      {% include 'newsletter' %}
    </div>

    {%- assign customer_care_linklist = section.settings.customer_care_linklist -%}
    {%- assign work_with_us_linklist = section.settings.work_with_us_linklist -%}
    {%- assign quick_links_linklist = section.settings.quick_links_linklist -%}

    {% if linklists[customer_care_linklist].links.size > 0 %}
      <ul>
        {% if section.settings.customer_care_title != blank %}
          <li class='footer__menu-title'>
            {{ section.settings.customer_care_title }}
          </li>
        {% endif %}
        {% for link in linklists[customer_care_linklist].links %}
          <li>
            <a href='{{ link.url }}'>{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if linklists[work_with_us_linklist].links.size > 0 %}
      <ul>
        {% if section.settings.work_with_us_title != blank %}
          <li class='footer__menu-title'>
            {{ section.settings.work_with_us_title }}
          </li>
        {% endif %}
        {% for link in linklists[work_with_us_linklist].links %}
          <li>
            <a href='{{ link.url }}'>{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if linklists[quick_links_linklist].links.size > 0 %}
      <ul>
        {% if section.settings.quick_links_title != blank %}
          <li class='footer__menu-title'>
            {{ section.settings.quick_links_title }}
          </li>
        {% endif %}
        {% for link in linklists[quick_links_linklist].links %}
          <li>
            <a href='{{ link.url }}'>{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <div class='footer__business-info'>
      {% render 'icon-logo' %}
      <div class='footer__business-info__text'>
        <p>& Company LLC</p>
        <p>2810 N Church St PMB 941674</p>
        <p>Wilmington, DE 19802</p>
      </div>
    </div>
  </div>
  <div class='footer__payment-icons page-width'>
    {% if section.settings.show_payment_icons %}
      {% unless shop.enabled_payment_types == empty %}
        {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,visa'
          | split: ','
        -%}

        <span class='visually-hidden'>{{ 'layout.footer.payment_methods' | t }}</span>
        <ul class='payment-icons'>
          {% for type in shop.enabled_payment_types %}
            {% if payment_icons_available contains type %}
              <li>
                {%- assign icon_name = type | prepend: 'icon-' -%}
                {% include icon_name %}
                <span class='visually-hidden'>{{ type | capitalize | replace: '_', ' ' }}</span>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endunless %}
    {% endif %}
  </div>
  <div class='footer__fda-disclamer'>
    * These statements have not been evaluated by the food and drug administration. This product is not intended to
    diagnose, treat, cure, or prevent any disease.
  </div>
  <div class='footer__copyright'>
    <div class='page-width'>
      <small>{{- 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: '%Y' }}, & Company LLC.</small>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "link_list",
      "id": "customer_care_linklist",
      "label": "Customer Care Menu",
      "default": "footer"
    },
    {
      "type": "text",
      "id": "customer_care_title",
      "label": "Customer Care Title",
      "default": "Customer Care"
    },
    {
      "type": "link_list",
      "id": "work_with_us_linklist",
      "label": "Work With Us Menu",
      "default": "footer"
    },
    {
      "type": "text",
      "id": "work_with_us_title",
      "label": "Work With Us Title",
      "default": "Work With Us"
    },
    {
      "type": "link_list",
      "id": "quick_links_linklist",
      "label": "Quick Links Menu",
      "default": "footer"
    },
    {
      "type": "text",
      "id": "quick_links_title",
      "label": "Quick Links Title",
      "default": "Quick Links"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_footer_social",
      "label": "Show social links",
      "default": true,
      "info": "Edit your social links under general theme settings."
    },
    {
      "type": "text",
      "id": "social_links_title",
      "label": "Footer social links title",
      "default": "Follow us"
    },
    {
      "type": "header",
      "content": "Newsletter Form"
    },
    {
      "type": "text",
      "id": "newsletter_title",
      "label": "Newsletter Title",
      "default": "Sign up for our newsletter"
    },
    {
      "type": "textarea",
      "id": "newsletter_text",
      "label": "Newsletter Text",
      "default": "Say something here about your newsletter or promotional offer."
    },
    {
      "type": "textarea",
      "id": "newsletter_success",
      "label": "Newsletter Success Message",
      "default": "Thanks for signing up!"
    }
  ]
}
{% endschema %}
