{% liquid
  assign background_color = section.settings.background_color
  assign color_text = section.settings.text_color | default: settings.color_gradient_text
  assign top_padding = section.settings.top_padding | default: 0
  assign bottom_padding = section.settings.bottom_padding | default: 0
  assign display_on_desktop = section.settings.display_on_desktop
  assign button_background_color = section.settings.button_background_color | default: 'transparent'
  assign button_color = section.settings.button_color | default: color_text
  assign border_size = section.settings.border_size | default: 3
  assign border_radius = section.settings.border_radius | default: 12
  assign border_color = section.settings.border_color | default: color_text
  assign button_height = section.settings.button_height | default: 'auto'
  assign button_width = section.settings.button_width | default: 'auto'
  assign font_size = section.settings.font_size | default: '16px'
  assign hover_text_color = section.settings.hover_text_color | default: '#FFFFFF'
  assign hover_button_background_color = section.settings.hover_button_background_color | default: button_color
  assign hover_border_color = section.settings.hover_border_color | default: border_color
%}

<style media='screen'>
  #section-{{ section.id }} {
    background-color: {{ background_color }};
    padding-top: {{ top_padding }}px;
    padding-bottom: {{ bottom_padding }}px;
  }

  @media (min-width: 1200px) {
    {% unless display_on_desktop %}
      #section-{{ section.id }} {
        display: none;
      }
    {% endunless %}
  }

  #section-{{ section.id }}.cta-gradient a.btn {
    color: {{ button_color }};
    background-color: {{ button_background_color }};
    border: {{ border_size }}px solid {{ border_color }};
    border-radius: {{ border_radius }}px;
    height: {{ button_height }};
    width: {{ button_width }};
  }

  #section-{{ section.id }}.cta-gradient a.btn:hover {
    color: {{ hover_text_color }};
    background-color: {{ hover_button_background_color }};
    border-color: {{ hover_border_color }};
  }

  #section-{{ section.id }} h3 span {
    color: transparent;
    -webkit-text-stroke-color: {{ color_text }};
  }
</style>

<div id='section-{{ section.id }}' class='cta-gradient'>
  <div class='cta-gradient__content'>
    {% if section.settings.button_text != blank %}
      <a href='{{ section.settings.button_url }}' class='btn'>
        <span class='btn-text' style='font-size: {{ font_size }};'>{{- section.settings.button_text }}</span>
        <i class='fa fa-arrow-right' aria-hidden='true' style='margin-left:5px;'></i>
      </a>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "CTA Gradient Banner",
  "settings": [
    {
      "id": "background_color",
      "type": "color",
      "label": "Background Color"
    },
    {
      "id": "text_color",
      "type": "color",
      "label": "Text Color"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "shop now"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button Url"
    },
    {
      "type": "checkbox",
      "id": "spacing",
      "label": "Section spacing"
    },
    {
      "type": "checkbox",
      "id": "display_on_desktop",
      "label": "Display on Desktop",
      "default": true
    },
    {
      "type": "color",
      "id": "button_background_color",
      "label": "Button Background Color"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Text Color"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Border Color"
    },
    {
      "type": "color",
      "id": "hover_text_color",
      "label": "Hover Text Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "hover_button_background_color",
      "label": "Hover Button Background Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "hover_border_color",
      "label": "Hover Border Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "top_padding",
      "label": "Top Padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "Bottom Padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "border_size",
      "label": "Border Size",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 3,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "Border Radius",
      "min": 0,
      "max": 50,
      "step": 1,
      "default": 12,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "button_height",
      "label": "Button Height",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "button_width",
      "label": "Button Width",
      "min": 0,
      "max": 300,
      "step": 10,
      "default": 100,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "font_size",
      "label": "Font Size",
      "min": 10,
      "max": 50,
      "step": 1,
      "default": 16,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "name": "Gradient Text Banner",
      "category": "Text"
    }
  ]
}
{% endschema %}
