{% liquid
  assign color_right = section.settings.color_right | default: settings.color_gradient_2
  assign color_left = section.settings.color_left | default: settings.color_gradient_1
  assign color_text = section.settings.text_color | default: settings.color_gradient_text
  assign top_margin = section.settings.top_margin | default: 0
  assign bottom_margin = section.settings.bottom_margin | default: 0
%}

<style media='screen'>
  #section-{{ section.id }} {
    background: {{ color_right }};
    background: -webkit-linear-gradient(to right, {{ color_left  }}, {{ color_right }});
    background: linear-gradient(to right, {{ color_left }}, {{ color_right }});
    {% if top_margin %}
      margin-top: {{ top_margin }}px;
      margin-bottom: {{ bottom_margin }}px;
    {% endif %}
    padding: 0;
  }

  #section-{{ section.id }} h3 {
    color: {{ color_text }};
  }

  #section-{{ section.id }}.cta-gradient a.btn {
    color: {{ color_text }};
    border: 3px solid {{ color_text }};
    border-radius: 12px;
  }

  #section-{{ section.id }}.cta-gradient a.btn:hover {
    color: white;
    border: 3px solid {{ color_text }};
    border-radius: 10px;
    background: {{ color_text }};
  }

  #section-{{ section.id }} h3 span {
    color: transparent;
    -webkit-text-stroke-color: {{ color_text }};
  }
</style>

<div id='section-{{ section.id }}' class='cta-gradient'>
  <div class='cta-gradient__content'>
    {% if section.settings.button_text != blank %}
      <a href='{{ section.settings.button_url }}' class='btn'>
        {{- section.settings.button_text }}
        <i class='fa fa-arrow-right' aria-hidden='true' style='margin-left:5px;'></i
      ></a>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "CTA Gradient Banner",
  "settings": [
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading (Solid)",
      "default": "Your Text"
    },
    {
      "type": "text",
      "id": "title_outline",
      "label": "Heading (Outline)",
      "default": "Goes Here"
    },
    {
      "type": "header",
      "content": "Gradient"
    },
    {
      "id": "color_left",
      "type": "color",
      "label": "Color (left)"
    },
    {
      "id": "color_right",
      "type": "color",
      "label": "Color (right)"
    },
    {
      "id": "text_color",
      "type": "color",
      "label": "Text Color"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "shop now"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button Url"
    },
    {
      "type": "checkbox",
      "id": "spacing",
      "label": "Section spacing"
    },
    {
      "type": "range",
      "id": "top_margin",
      "label": "Top Margin",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "bottom_margin",
      "label": "Bottom Margin",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "name": "Gradient Text Banner",
      "category": "Text"
    }
  ]
}
{% endschema %}
