{% liquid
  assign header_transparent = settings.header_transparent
  assign header_height = settings.header_height
  assign dropdown_type = settings.dropdown_type
  assign dropdown_width = settings.dropdown_width
  assign header_text_size = settings.header_text_size
  assign dropdown_font_size = settings.dropdown_font_size
  assign dropdown_card_size = settings.dropdown_card_size
  assign header_icon_size = settings.header_icon_size
%}

<script>
  console.log('dropdown_font_size: {{ dropdown_font_size }}');
</script>

{% capture cta %}
  {% assign one_product = false %}

  {% if section.settings.menu_cta_product != blank %}
    {% assign one_product = all_products[section.settings.menu_cta_product] %}
  {% elsif settings.one_product != empty %}
    {% assign one_product = all_products[settings.one_product] %}
  {% endif %}
  
  {% assign cta_link = '/cart/' | append: one_product.first_available_variant.id | append: ':1' %}
  
  {% if section.settings.cta_menu_method == 'link' %}
    {% assign cta_link = one_product.url %}
  {% endif %}
  
  {% if section.settings.enable_cta_dropdown and one_product %}

    <div class="header__cta-container">
      <div class="header__cta__product">
        <img src="{{ one_product.featured_image | img_url: '250x' }}" alt="{{ one_product.title }}">
        <div class="cta__product__info">
          {% if section.settings.custom_cta_dropdown_headline != blank %}
            <h4>{{ section.settings.custom_cta_dropdown_headline }}</h4>
          {% else %}
            <h4>{{ one_product.title }}</h4>
          {% endif %}
          <div class="header__cta">
            <a class="btn" href="{{ cta_link }}">
              <span>
                {% if section.settings.enable_cta_icon %}<span class="fas fa-shopping-cart"></span>{% endif %}
                {% if section.settings.custom_menu_cta_text != blank %}
                  {{ section.settings.custom_menu_cta_text }}
                {% endif %}
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endcapture %}

<div
  class='header active {% if template contains 'product' and settings.show_sticky_atc %}header--reveal{% endif %}'
  data-section-id='{{ section.id }}'
  data-section-type='header-section'
>
  {% if settings.enable_promo %}
    {% unless settings.enable_only_ony_homepage and template.name != 'index' %}
      <div
        class='promo-bar{% if settings.banner_text_link != blank %} promo-bar--link{% endif %}{% if settings.promo_bar_animate %} promo-bar--animate{% endif %}'
        {% if settings.promo_bar_bg_2 != blank %}
          style='background: linear-gradient(275deg, {{ settings.promo_bar_bg }}, {{ settings.promo_bar_bg_2 }}); {% if settings.promo_bar_animate %}background-size: 400% 400%;{% endif %}'
        {% else %}
          style='background-color: {{ settings.promo_bar_bg }};'
        {% endif %}
      >
        <p class='promo-bar__text{% if settings.promo_bar_text_uppercase_spacing %} promo-bar__text{% endif %}'>
          <span style='color: {{ settings.promo_bar_color_1 }};'>{{ settings.banner_text_1 }}</span>
          <span style='color: {{ settings.promo_bar_color_2 }};'>{{ settings.banner_text_2 }}</span>
          {% if settings.banner_text_link != blank %}
            <a href='{{ settings.banner_text_link }}' aria-label='{{ settings.banner_text }}'></a>
          {% endif %}
        </p>
      </div>
    {% endunless %}
  {% endif %}
  <div class='header__container header__container--{{ header_height }}'>
    <nav class='header__nav header__nav--{{ section.settings.logo_position }}' role='navigation'>
      <ul class='header__nav__main-list header__nav__main-list--{{ dropdown_type }} main-list-width--{{ dropdown_width }}'>
        {% assign main_menu_length = linklists[section.settings.main_linklist].links | size %}
        {% assign menu_link_class = 'large' %}

        {% case header_text_size %}
          {% when 'auto' %}
            {% case main_menu_length %}
              {% when 1, 2 %}
                {% assign menu_link_class = 'large' %}
              {% when 3 %}
                {% assign menu_link_class = 'med' %}
              {% when 4 %}
                {% assign menu_link_class = 'sm' %}
              {% else %}
                {% assign menu_link_class = 'xs' %}
            {% endcase %}
          {% else %}
            {% assign menu_link_class = header_text_size %}
        {% endcase %}

        {% assign blocks_amount = section.blocks | size %}

        {% for link in linklists[section.settings.main_linklist].links %}
          {% liquid
            assign link_title_downcase = link.title | downcase
            assign cards_exist = false

            if blocks_amount > 0 and dropdown_type != 'oversized'
              assign block_parent_links = section.blocks | map: 'settings' | map: 'parent_link'
              for parent_link in block_parent_links
                assign parent_link_downcase = parent_link | downcase
                if link_title_downcase == parent_link_downcase
                  assign cards_exist = true
                  break
                endif
              endfor
            endif
          %}

          {% if link.links != blank or cards_exist %}
            <li>
              <a
                href='{{ link.url }}'
                class='header__nav__dropdown-link header-link--{{ menu_link_class }}'
                data-has-dropdown
              >
                <span>{{ link.title | escape }}</span>
              </a>
              {% if dropdown_type == 'oversized' %}
                {% render 'oversized-dropdown', link: link, cta: cta, dropdown_font_size: dropdown_font_size %}
              {% else %}
                {% render 'dropdown',
                  link: link,
                  dropdown_settings: section.settings,
                  dropdown_font_size: dropdown_font_size
                %}
              {% endif %}
            </li>
          {% else %}
            <li>
              <a class='header-link--{{ menu_link_class }}' href='{{ link.url }}'>{{ link.title | escape }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <button class='header__nav__dropdown-toggle' title='Toggle menu' data-toggle-mega-menu>
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class='header__oversized-dropdown' data-mega-menu>
        <ul class='header__oversized-dropdown__main-list'>
          {% for link in linklists[section.settings.main_linklist].links %}
            {% assign link_title_downcase = link.title | downcase %}
            <li>
              <a
                class='{{ dropdown_font_size }}'
                href='{{ link.url }}'
                {% if link.links != blank %}
                  data-toggle-mobile-submenu
                {% endif %}
                ><span>{{ link.title | escape }}</span></a
              >
              {% if link.links != blank %}
                <ul class='header__oversized-dropdown__sub-list'>
                  {% for childlink in link.links %}
                    <li class='mega-nav__child-link'>
                      <a
                        href='{{ childlink.url }}'
                        {% if childlink.links != blank %}
                          data-toggle-mobile-submenu
                        {% endif %}
                        ><span>{{ childlink.title | escape }}</span></a
                      >
                      {% if childlink.links != blank %}
                        <ul class='header__oversized-dropdown__sub-list'>
                          {% for nestedlink in childlink.links %}
                            <li>
                              <a href='{{ nestedlink.url }}'
                                ><span>{{ nestedlink.title | escape }}</span></a
                              >
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        {% if shop.customer_accounts_enabled or settings.enable_search %}
          <div class='main-list__actions'>
            {% if shop.customer_accounts_enabled %}
              <a class='{{ dropdown_font_size }}' href='/account'>
                {% render 'icon-account', icon_pack: section.settings.icon_pack %}
              </a>
            {% endif %}
            {% if settings.enable_search %}
              <a class='{{ dropdown_font_size }}' href='/search' data-toggle-search>
                {% render 'icon-search', icon_pack: section.settings.icon_pack %}
              </a>
            {% endif %}
          </div>
        {% endif %}
        {{ cta }}
      </div>
    </nav>

    <header class='header__logo header__logo--{{ section.settings.logo_position }}' role='banner'>
      <h1 itemscope itemtype='http://schema.org/Organization'>
        <a href='/' itemprop='url' class='header__logo__image {{ header_height }}'>
          {% if section.settings.logo_svg != blank %}
            {{ section.settings.logo_svg }}
          {% elsif section.settings.logo != blank %}
            {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
            <img
              src='{{ section.settings.logo | img_url: image_size }}'
              srcset='{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x'
              alt='{{ section.settings.logo.alt | default: shop.name }}'
              itemprop='logo'
            >
          {% else %}
            {{ shop.name }}
          {% endif %}
        </a>
      </h1>
    </header>

    <nav class='header__nav header__nav--right' role='navigation'>
      {% assign header_cta_product = false %}

      {% if section.settings.header_cta_product != blank %}
        {% assign header_cta_product = all_products[section.settings.header_cta_product] %}
      {% elsif settings.one_product != empty %}
        {% assign header_cta_product = all_products[settings.one_product] %}
      {% endif %}

      {% assign cta_link = '' %}

      {% if section.settings.header_cta_url != blank %}
        {% assign cta_link = section.settings.header_cta_url %}
      {% elsif header_cta_product %}
        {% if section.settings.cta_method == 'link' %}
          {% assign cta_link = header_cta_product.url %}
        {% else %}
          {% assign cta_link = '/cart/' | append: header_cta_product.first_available_variant.id | append: ':1' %}
        {% endif %}
      {% endif %}

      {% if section.settings.enable_cta %}
        <div class='header__cta'>
          <a class='btn' href='{{ cta_link }}'>
            <span>
              {% if section.settings.enable_cta_icon %}<span class='fas fa-shopping-cart'></span>{% endif %}
              {% if section.settings.custom_cta_text != blank %}
                {{ section.settings.custom_cta_text }}
              {% else %}
                Get {{ header_cta_product.title }}
              {% endif %}
            </span>
          </a>
        </div>
      {% endif %}
      <ul class='header__nav__main-list {{ header_icon_size }}'>
        {% if settings.enable_search %}
          <li>
            <a class='search-header' href='/search' data-toggle-search>
              {% render 'icon-search', icon_pack: section.settings.icon_pack %}
            </a>
          </li>
        {% endif %}
        {% if shop.customer_accounts_enabled %}
          <li>
            <a class='header__nav__user' href='/account'>
              {% render 'icon-account', icon_pack: section.settings.icon_pack %}
            </a>
          </li>
        {% endif %}
        <li>
          <a class='header__nav__bag' href='/cart' data-toggle-bag>
            <span class='header__nav__bag__container'>
              {% render 'icon-cart', icon_pack: section.settings.icon_pack %}
              <span
                class='bag__item-alert bag__item-alert--icon-pack-{{ section.settings.icon_pack }}{% if cart.items != empty %} is-visible{% endif %}'
              ></span>
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class='guarantee-bar'>
    <div class='guarantee-wrapper'>
      <span class='guarantee-bar__left'>
        <i class='guarantee-icon-left'>{% render 'icon-return-guarantee' %}</i>
        <!-- Placeholder for the left icon -->
        30 DAY MONEY BACK GUARANTEE
      </span>
      <span class='guarantee-bar__right'>
        <i class='guarantee-icon-right'>{% render 'icon-shipping-guarantee' %}</i>
        FAST & DISCREET SHIPPING
      </span>
    </div>
  </div>
</div>

<div class='predictive-search__overlay js-search-overlay'></div>

{% if template contains 'product' and settings.show_sticky_atc %}
  <div class='page-width header__atc'>
    <div class='header__atc__inner'>
      <div class='header__atc__details'>
        <h4>{{ product.title }}</h4>
        <div class='header__atc__price product__price' data-price-wrapper>
          {% assign on_sale = false %}
          {% if product.compare_at_price_max > product.price %}
            <span class='compare-price' data-compare-price>
              {% if product.selected_or_first_available_variant.compare_at_price
                  > product.selected_or_first_available_variant.price
              %}
                {{ product.selected_or_first_available_variant.compare_at_price | money }}
              {% endif %}
            </span>
            <span class='visually-hidden' data-compare-text>{{ 'products.product.regular_price' | t }}</span>
          {% endif %}
          {% if product.selected_or_first_available_variant.compare_at_price > product.price %}
            {% assign on_sale = true %}
          {% endif %}
          <span
            {% if on_sale %}
              class='on-sale'
            {% endif %}
            data-product-price
          >
            {{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}
          </span>
        </div>
      </div>
      <button
        type='button'
        class='btn btn--primary header__atc__btn js-header-atc'
        data-add-to-cart
        {% unless product.selected_or_first_available_variant.available %}
          disabled='disabled'
        {% endunless %}
      >
        <span data-add-to-cart-text>
          {% if product.selected_or_first_available_variant.available %}
            {% if settings.enable_skip_to_checkout %}
              {{ settings.skip_cart_submit | default: 'Buy now' }}
            {% else %}
              {{ 'products.product.add_to_cart' | t }}
            {% endif %}
          {% else %}
            {{ 'products.product.sold_out' | t }}
          {% endif %}
        </span>
      </button>
    </div>
  </div>
{% endif %}

{% style %}
  .header__logo h1, .header__logo__image, .header__logo__image svg {
    display: block;
    width: 100%;
    height: auto;
    {% if section.settings.logo != blank or section.settings.logo_svg != blank %}
      max-width: {{ section.settings.logo_max_width_mobile }}px;
    {% endif %}
  }

  @media screen and (min-width: 900px) {
    .header__oversized-dropdown {
      border-radius: 0;
    }
    .header__logo h1, .header__logo__image, .header__logo__image svg {
      {% if section.settings.logo != blank or section.settings.logo_svg != blank %}
        max-width: {{ section.settings.logo_max_width }}px;
      {% endif %}
    }
  }

  {% if header_transparent %}
    .header__container {
      background-color: {{ settings.header_background | color_modify: 'alpha', 0.9 }}
    }
  {% endif %}

  {% if section.settings.cta_menu_background %}
    .header__cta-container {
      background-color: {{ section.settings.cta_menu_background }};
    }
  {% endif %}

  {% if section.settings.cta_menu_text_color %}
    .header__cta__product h4 {
      color: {{ section.settings.cta_menu_text_color }};
    }
  {% endif %}

  .header__atc {
    {% if settings.sticky_atc_bg != blank %}
      background-color: {{ settings.sticky_atc_bg }};
    {% endif %}
  }

  .header__atc__price.product__price span:not(.on-sale),
  .header__atc__details h4 {
    {% if settings.sticky_atc_price_title != blank %}
      color: {{ settings.sticky_atc_price_title }};
    {% endif %}
  }

  .header__atc__price.product__price .on-sale {
    {% if settings.sticky_atc_price_sale %}
      color: {{ settings.sticky_atc_price_sale }};
    {% endif %}
  }

  {% if settings.sticky_atc_button_bg != blank %}
    .btn.btn--primary.header__atc__btn {
      background-color: {{ settings.sticky_atc_button_bg }};
    }
  {% endif %}

  {% if settings.sticky_atc_button_text != blank %}
    .btn.btn--primary.header__atc__btn {
      color: {{ settings.sticky_atc_button_text }};
    }
  {% endif %}

  .header__nav__product img {
    max-height: {{ dropdown_card_size }}px;
  }

  .guarantee-bar {
    background-color: #fdfaf1;
    color: #000;
    font-family: Futura, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.01rem solid black;
  }

  .guarantee-wrapper {
    width: 100%; /* Updated to be full width */
    padding: 8px 1rem;
    display: flex;
    justify-content: space-between; /* This will push children to the edges */
    align-items: center;
    font-size: 9px;
  }

  @media (min-width: 768px) {
    .guarantee-wrapper {
      font-size: 10px;
      padding: 8px 5rem;
    }
  }

  .guarantee-bar__left,
  .guarantee-bar__right {
    display: flex;
    align-items: center;
  }


  .guarantee-icon-left,
  .guarantee-icon-right {
    font-size: 18px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .guarantee-icon-left svg,
  .guarantee-icon-right svg {
    width: 18px;
    height: auto;
    fill: currentColor;
  }

  .guarantee-icon-left svg {
    width: 14px;
    height: auto;
  }

  .guarantee-icon-right svg {
    width: 24px;
    height: auto;
  }
{% endstyle %}

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "paragraph",
      "content": "Recommended aspect ratio is 4:1. Example logo size: 255 x 65 pixels."
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "html",
      "id": "logo_svg",
      "label": "Logo SVG Code [Optional]",
      "info": "Use SVG images instead of JPEG or PNG for an extremely crisp and high quality logo."
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "unit": "px",
      "label": "Logo width",
      "default": 250
    },
    {
      "type": "range",
      "id": "logo_max_width_mobile",
      "min": 100,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Logo width [Mobile]",
      "default": 195
    },
    {
      "type": "select",
      "id": "logo_position",
      "label": "Logo Position",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Icons"
    },
    {
      "type": "select",
      "id": "icon_pack",
      "label": "Icon Pack",
      "options": [
        {
          "label": "Icon pack 1",
          "value": "1"
        },
        {
          "label": "Icon pack 2",
          "value": "2"
        }
      ],
      "default": "1"
    },
    {
      "type": "header",
      "content": "Menu"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "header",
      "content": "Header CTA"
    },
    {
      "type": "paragraph",
      "content": "The header CTA uses the theme's universal product information found in One Product settings. Make sure you select a product before altering the below settings."
    },
    {
      "type": "checkbox",
      "id": "enable_cta",
      "label": "Enable header CTA",
      "default": true
    },
    {
      "type": "url",
      "id": "header_cta_url",
      "label": "Header CTA URL"
    },
    {
      "type": "text",
      "id": "custom_cta_text",
      "label": "Button text"
    },
    {
      "type": "product",
      "id": "header_cta_product",
      "label": "Header CTA Product",
      "info": "This will allow you to use the below 'Button Action' option."
    },
    {
      "type": "select",
      "id": "cta_method",
      "label": "Button Action (Products)",
      "options": [
        {
          "label": "Send to checkout",
          "value": "checkout"
        },
        {
          "label": "Send to product page",
          "value": "link"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_cta_icon",
      "label": "Enable cart icon",
      "info": "This controls the cart icon within the CTA button",
      "default": true
    },
    {
      "type": "header",
      "content": "Oversized dropdowns"
    },
    {
      "type": "checkbox",
      "id": "enable_cta_dropdown",
      "label": "Enable CTA in oversized dropdowns",
      "default": true
    },
    {
      "type": "product",
      "id": "menu_cta_product",
      "label": "Dropdown menu CTA product",
      "info": "Leave blank to use product from 'One Product' settings."
    },
    {
      "type": "select",
      "id": "cta_menu_method",
      "label": "Button Action",
      "options": [
        {
          "label": "Send to checkout",
          "value": "checkout"
        },
        {
          "label": "Send to product page",
          "value": "link"
        }
      ]
    },
    {
      "type": "text",
      "id": "custom_cta_dropdown_headline",
      "label": "Custom CTA headline",
      "info": "This controls the title in the CTA area within the dropdown menus. Leave blank for default product title."
    },
    {
      "type": "text",
      "id": "custom_menu_cta_text",
      "label": "Custom CTA button text"
    },
    {
      "type": "color",
      "id": "cta_menu_background",
      "label": "Background color"
    },
    {
      "type": "color",
      "id": "cta_menu_text_color",
      "label": "Text color"
    }
  ],
  "blocks": [
    {
      "type": "product-card",
      "name": "Product card",
      "settings": [
        {
          "type": "text",
          "id": "parent_link",
          "label": "Parent link",
          "info": "The exact name of the parent link in your navigation where this card should appear under."
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    },
    {
      "type": "custom-card",
      "name": "Custom card",
      "settings": [
        {
          "type": "text",
          "id": "parent_link",
          "label": "Parent link",
          "info": "The exact name of the parent link in your navigation where this card should appear under."
        },
        {
          "type": "image_picker",
          "id": "card_img",
          "label": "Card image"
        },
        {
          "type": "text",
          "id": "card_title",
          "label": "Card title"
        },
        {
          "type": "url",
          "id": "card_url",
          "label": "Card URL"
        }
      ]
    }
  ]
}
{% endschema %}
