{{ 'section-hello.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class='isolate{% unless section.settings.full_width %} page-width{% endunless %}'>
  <div class='hello content-container color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} hello--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding'>
    <div class='hello__wrapper hello__wrapper--{{ section.settings.desktop_content_position }}{% if section.settings.full_width %} page-width{% endif %}'>
      <div class='hello__left'>
        <p>{{ section.settings.left_text }}</p>
      </div>
      <div class='hello__image__container'>
        <img
          class='hello__image'
          src='{{ section.settings.product_image | img_url: 'original' }}'
          alt='Spicy Cubes'
          width='462'
          height='506'
        >
      </div>
      <div class='hello__right'>
        <p>{{ section.settings.right_text }}</p>
        <a href='{{ section.settings.button_link }}' class='hello__buttons'>
          {{- section.settings.button_label -}}
        </a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Hello",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.desktop_content_position.label",
      "info": "t:sections.rich-text.settings.desktop_content_position.info"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.content_alignment.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    },
    {
      "type": "text",
      "id": "left_text",
      "label": "Left Text",
      "default": "DISCRETE SHIPPING ⋆ EASY RETURNS ⋆ SECURE CHECKOUT"
    },
    {
      "type": "image_picker",
      "id": "product_image",
      "label": "t:sections.main-product.blocks.icon_with_text.settings.image_1.label"
    },
    {
      "type": "text",
      "id": "right_text",
      "label": "Right Text",
      "default": "SEXUALLY ENHANCING SUGAR CUBES SUPPLEMENT DESIGNED AND FORMULATED FOR COUPLES, OR SINGLE USE.*"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "see more",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Hello",
      "blocks": []
    }
  ]
}
{% endschema %}
