{%- if predictive_search.performed -%}
  {% assign num_of_results = predictive_search.resources.products | size %}
  {% if num_of_results > 0 %}
    <div id="predictive-search-results">
      <ul id="predictive-search-results-list" class="predictive-search__results-list" role="listbox" aria-labelledby="predictive-search-products">
        {%- for product in predictive_search.resources.products -%}
          <li class="predictive-search__list-item" role="option">
            <a href="{{ product.url }}" class="search-item collection__grid-item collection__grid-item--text-under">
              {% if product.featured_image %}
                <img data-src="{{ product.featured_image.src | img_url: '600x600' }}" class="search-item__img" alt="{{ product.featured_image.alt }}">
              {% else %}
                <div class="placeholder-bg">
                  {{ 'product-1' | placeholder_svg_tag: 'placeholder-img' }}
                </div>
              {% endif %}
              <div class="collection__grid-item__details">
                <h2 class="product__title">{{ product.title }}</h2>
                <div class="collection__grid-item__price">
                  {% assign on_sale = false %}
                  {% if product.compare_at_price_max > product.price %}
                    {% assign on_sale = true %}
                    <span class="compare-price" data-compare-price>
                      {% if product.compare_at_price > product.price %}
                        {{ product.compare_at_price | money }}
                      {% endif %}
                    </span>
                    <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                  {% endif %}
                  <span {% if on_sale %}class="on-sale"{% endif %} data-product-price>
                    {{ product.price | money_without_trailing_zeros }}
                  </span>
                </div>
              </div>
            </a>
          </li>
        {%- endfor -%}
      </ul>
      <div class="predictive-search__list-item--cta">
        <button class="predictive-search__item btn" tabindex="-1">
          Search for “{{ predictive_search.terms }}”
        </button>
      </div>
    </div>
  {% else %}
    <div id="predictive-search-results">
      <h2 class="search-results__title">No Results for “{{ predictive_search.terms }}”</h2>
    </div>
  {% endif %}
{%- endif -%}
