<div class="ticker" id="section-{{ section.id }}">
  <div class="ticker__inner">
    
    {% assign text_length = section.blocks | size %}
    {% assign target_length = 20 %}
    {% assign text_counter = 0 %}
    
    {% for block in section.blocks %}
      {% assign text_counter = text_counter | plus: 1 %}
      <p class="ticker__text">
        <span class="ticker__check">
          <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg"></svg>
        </span>
        <span>{{ block.settings.text }}</span>
      </p>
    {% endfor %}
    
    {% if text_counter < target_length %}
      {% for i in (1..15) %}
        {% for block in section.blocks %}
          <p class="ticker__text">
            <span class="ticker__check">
              <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg"></svg>
            </span>
            <span>{{ block.settings.text }}</span>
          </p>
          
          {% assign text_counter = text_counter | plus: 1 %}
          {% if text_counter >= target_length %}
            {% break %}
          {% endif %}
        {% endfor %}
        {% if text_counter >= target_length %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>

{% style %}
  #section-{{ section.id }} {
    background-color: {{ section.settings.background_color }};
    
    {% if section.settings.spacing %}
      margin-top: 100px;
      margin-bottom: 100px;
    {% endif %}
  }
  
  #section-{{ section.id }} .ticker__inner {
    -webkit-animation-duration: {{ section.settings.ticker_speed }}s;
    animation-duration: {{ section.settings.ticker_speed }}s;
  }
  
  #section-{{ section.id }} .ticker__text {
    color: {{ section.settings.text_color }};
  }
{% endstyle %}

{% schema %}
  {
    "name": "Ticker",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#ffffff"
      },
      {
        "type": "select",
        "id": "ticker_speed",
        "label": "Ticker speed",
        "options": [
          {
            "label": "Slow",
            "value": "40"
          },
          {
            "label": "Medium",
            "value": "30"
          },
          {
            "label": "Fast",
            "value": "20"
          }
        ],
        "default": "30"
      },
      {
        "type": "checkbox",
        "id": "spacing",
        "label": "Section spacing"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Ticker",
        "category": "display",
        "settings": {
          "background_color": "#000000",
          "text_color": "#ffffff"
        }
      }
    ]
  }
{% endschema %}