{% liquid
  assign video_url = section.settings.video_url
%}
<div id='hero-{{ section.id }}' class='video-hero'>
  <a
    href='{{ section.settings.button_url }}'
    class='video-hero-link'
    style='position: absolute; width: 100%; height: 100%; z-index: 10;'
  ></a>
  <video autoplay muted loop playsinline class='hero-video__content' onerror='handleVideoError(event)'>
    {% if video_url %}
      <source src='{{ video_url }}' type='video/mp4' onerror='handleVideoError(event)'>
    {% endif %}
  </video>
  <div class='hero-video__content-wrapper'>
    <div class='top__bar'>
      {% render 'turn-any-drink' %}
    </div>
    <div class='content__holder'>
      <div>{% render 'more-love' %}</div>
      <a class='btn red' href='{{ section.settings.button_url }}'>{{ section.settings.button_text }}</a>
    </div>
  </div>
  <div class='hero-video__overlay'></div>
</div>
<script type='text/javascript'>
  // Function to adjust the hero section height
  function adjustHeroHeight() {
    var heroSection = document.getElementById('hero-{{ section.id }}');
    var videoContent = document.querySelector('.hero-video__content');

    if (heroSection && videoContent) {
      var contentHeight = videoContent.offsetHeight;
      var maxHeight = window.innerHeight * 0.7; // 70% of viewport height
      heroSection.style.height = Math.min(contentHeight, maxHeight) + 'px';
    }
  }

  function handleVideoError(e) {
    console.error('Video loading error:', e.target.error);
    var errorMessage = {
      errorMessage: 'Failed to load video source',
      src: e.target.src,
      browser: navigator.userAgent,
      pageUrl: window.location.href,
    };

    console.error('Detailed video error:', JSON.stringify(errorMessage));
  }

  // Event listeners for load and resize
  window.addEventListener('load', adjustHeroHeight);
  window.addEventListener('resize', adjustHeroHeight);
  document.addEventListener('DOMContentLoaded', function () {
    adjustHeroHeight();
  });

  // Attempt to play video after DOM is fully loaded
  document.addEventListener('DOMContentLoaded', function () {
    var heroVideo = document.querySelector('.hero-video__content');
    heroVideo.addEventListener('loadedmetadata', adjustHeroHeight);
    heroVideo.play().catch((error) => console.error('Error trying to autoplay video: ', error));
  });
</script>

{% style %}
  #hero-{{ section.id }} {
    position: relative;
    overflow: hidden;
  }

  .video-hero {
    margin-bottom: 10px;
  }

  .hero-video__content {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .hero-video__overlay {
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 104%;
      height: 100%;
      {% if section.settings.video_overlay %}
        background: url({{ section.settings.video_overlay | img_url: '2000x' }}) center bottom no-repeat;
        background-size: 100% auto; /* Ensure the background covers the entire width */
      {% endif %}
      z-index: 1; /* Ensure the overlay is above the video */
      padding-top: 48px;
  }

  .top__bar {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3; /* Ensure the top bar is above other content */
  }

  .content__holder {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensure the content is above the video */
    text-align: center; /* Center align the content */
  }

  .content__holder .btn {
    background-color: #ff6262;
    color: #fff; /* White text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    z-index: 11;
  }

  .content__holder .btn:hover {
    background-color: #fff;
    color: #000; /* Black text on hover */
  }

  .hero-video__content-wrapper {
    position: absolute;
    z-index: 4; /* Ensure the video stays behind other content */
    width: 100%;
    height: 100%;
    color: #fff; /* Adjust text color as needed */
  }

  @media screen and (min-width: 901px) {
      .top__bar svg {
      width: 400px; /* Adjust the width of the SVG for desktop */
      height: auto; /* Maintain aspect ratio */
      }

      .content__holder svg {
      width: 400px; /* Adjust the width of the SVG for desktop */
      height: auto; /* Maintain aspect ratio */
      }
  }

  @media screen and (max-width: 900px) {
    .top__bar {
      top: 5%;
    }
    .content__holder {
      top: 45%;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "video-hero",
  "settings": [
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "Desktop Video URL"
    },
    {
      "type": "image_picker",
      "id": "video_overlay",
      "label": "Video Overlay Image"
    }
  ]
}
{% endschema %}
