{% liquid
  assign video_url = section.settings.video_url
%}
<div id='hero-{{ section.id }}' class='video-hero'>
  <video autoplay muted loop playsinline class='hero-video__content'>
    {% if video_url %}
      <source src='{{ video_url }}' type='video/mp4'>
    {% endif %}
  </video>
  <div class='hero-video__overlay'></div>
  <div class='hero-video__content-wrapper'>
    <div class='top__bar'>
      {% render 'turn-any-drink' %}
    </div>
    <div class='content__holder'>
      <div>{% render 'more-love' %}</div>
      {% if section.settings.button_url != blank and section.settings.button_text != blank %}
        <a class='btn' href='{{ section.settings.button_url }}'>{{ section.settings.button_text }}</a>
      {% endif %}
    </div>
  </div>
</div>
<script type='text/javascript'>
  window.addEventListener('load', function () {
    adjustHeroHeight(); // Call the function on initial load

    window.addEventListener('resize', adjustHeroHeight); // Add event listener for resize
  });

  function adjustHeroHeight() {
    var heroSection = document.getElementById('hero-{{ section.id }}');
    var videoContent = document.querySelector('.hero-video__content');

    if (heroSection && videoContent) {
      var contentHeight = videoContent.offsetHeight;
      var maxHeight = window.innerHeight * 0.7; // 70vh

      heroSection.style.height = Math.min(contentHeight, maxHeight) + 'px';
    }
  }
</script>

{% style %}
  #hero-{{ section.id }} {
    position: relative;
    overflow: hidden;
  }

  .video-hero {
    margin-bottom: 10px;
  }

  .hero-video__content {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .hero-video__overlay {
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 102%;
      height: 100%;
      {% if section.settings.video_overlay %}
        background: url({{ section.settings.video_overlay | img_url: '2000x' }}) center bottom no-repeat;
        background-size: 100% auto; /* Ensure the background covers the entire width */
      {% endif %}
      z-index: 2; /* Ensure the overlay is above the video */
  }

  .top__bar {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3; /* Ensure the top bar is above other content */
  }

  .content__holder {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensure the content is above the video */
    text-align: center; /* Center align the content */
  }

  .content__holder .btn {
    background-color: #000;
    color: #fff; /* White text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .content__holder .btn:hover {
    background-color: #fff;
    color: #000; /* Black text on hover */
  }

  .hero-video__content-wrapper {
    position: absolute;
    z-index: 1; /* Ensure the video stays behind other content */
    width: 100%;
    height: 100%;
    color: #fff; /* Adjust text color as needed */
  }

  @media screen and (min-width: 901px) {
      .top__bar svg {
      width: 400px; /* Adjust the width of the SVG for desktop */
      height: auto; /* Maintain aspect ratio */
      }

      .content__holder svg {
      width: 400px; /* Adjust the width of the SVG for desktop */
      height: auto; /* Maintain aspect ratio */
      }
  }

  @media screen and (max-width: 900px) {
    .top__bar {
      top: 5%;
    }
    .content__holder {
      top: 45%;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "video-hero",
  "settings": [
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "Desktop Video URL"
    },
    {
      "type": "image_picker",
      "id": "video_overlay",
      "label": "Video Overlay Image"
    }
  ]
}
{% endschema %}
