
<div class="search-page">
  {% paginate search.results by 9 %}

    <div class="search-page__header">
      <h1 class="align-center">
        {% if search.performed %}
          {% if search.results_count == 0 %}
            {{ 'general.search.no_results_html' | t: terms: search.terms }}
          {% else %}
            {{ 'general.search.results_for_html' | t: terms: search.terms }}
          {% endif %}
        {% else %}
          {{ 'general.search.title' | t }} 
        {% endif %}
      </h1>

      <form action="/search" method="get" role="search">
        <label for="Search" class="label-hidden">
          {{ 'general.search.placeholder' | t }}
        </label>
        <input type="search"
              name="q"
              id="Search"
              value="{{ search.terms | escape }}"
              placeholder="{{ 'general.search.placeholder' | t }}">
        <button type="submit">
          {% render 'icon-search' %}
          <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
        </button>
      </form>
    </div>

    {% if search.performed %}

      <div class="collection-grid-container">
        <div class="collection-grid collection-grid--desktop-three collection-grid--mobile-one page-width">
          {% for product in search.results %}
            {% include 'collection-item' %}
          {% endfor %}
        </div>
      </div>


      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}
    {% endif %}

  {% endpaginate %}
</div>